<a id="filamentcontrolorange_indicator" class="pull-right" title="Toggle filament sensor" href="#" data-bind="click: function() { loginState.isUser() && $root.togglePSU(); }, visible: (isFilamentOn() !== undefined)" style="display: none">
    <i class="icon-bolt"></i>
</a>
